<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Or</title>
    <script src="../dist/vue/2.6/vue.js"></script>
    <script src="../scripts/common/baiDuStatistics.js"></script>
    <script src="../dist/ant-design/antd.js"></script>

    <link rel="stylesheet" href="../dist/ant-design/antd.css"/>
</head>
<body>

<div id="antApp">
    <a-button>aa</a-button>
    <a-icon type="column-height" />
</div>

<script>
    new Vue({
        el: '#antApp',
        data: function () {
            return {
                aa: '',
            }
        },
        created: function () {

        },
    });
</script>

</body>
</html>