<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="../dist/vue/2.6/vue.js"></script>
    <script src="../scripts/common/baiDuStatistics.js"></script>

    <script src="../dist/element-ui/index.js"></script>
    <link rel="stylesheet" href="../dist/element-ui/index.css"/>
</head>
<body>

<div id="antApp">
    <i class="el-icon-bell"></i>
</div>

<script>
    new Vue({
        el: '#antApp',
        data: function () {
            return {
                aa: '',
            }
        },
        created: function () {

        },
    });
</script>

</body>
</html>