<!DOCTYPE html>
<html class="homeBody">
<head>
    <meta charset="UTF-8">
    <title>Octavius</title>
    <script src="../dist/vue/2.6/vue.js"></script>

    <link href="../dist/element-ui/index.css" rel="stylesheet">
    <script src="../dist/element-ui/index.js"></script>

    <link rel="stylesheet" href="../dist/jside-menu/css/jside-skins.css"/>
    <link rel="stylesheet" href="../dist/material-design/css/material-design-iconic-font.css"/>

    <link rel="stylesheet" href="../styles/main.css"/>
    <link rel="stylesheet" href="../styles/common/markdown.css"/>

    <link rel="stylesheet" href="../dist/highlight/css/default.css"/>

    <script src="../scripts/common/baiDuStatistics.js"></script>
</head>
<body>

<div id="mdsApp">

    <header class="intro">
        <el-breadcrumb separator="/" separator-class="el-icon-arrow-right">
            <el-breadcrumb-item>首页</el-breadcrumb-item>
            <el-breadcrumb-item>活动管理</el-breadcrumb-item>
            <el-breadcrumb-item>活动列表</el-breadcrumb-item>
            <el-breadcrumb-item>活动详情</el-breadcrumb-item>
        </el-breadcrumb>
    </header>
    <main>
        <article>
            <h2></h2>
            <div id="content">

            </div>
        </article>
    </main>

</div>

<script src="../dist/jquery/js/jquery.js"></script>
<script src="../dist/marked.js"></script>
<script src="../dist/highlight/highlight.pack.js"></script>
</body>
</html>