<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Octavius</title>
    <link rel="stylesheet" href="../dist/jside-menu/css/jside-skins.css"/>
    <link rel="stylesheet" href="../styles/main.css"/>
    <script src="../scripts/common/baiDuStatistics.js"></script>
</head>
<body>

<header class="intro">
    <h1> 设置 </h1>
    <p> Settings </p>
</header>
<main>
    <article>
        <h2> 菜单主题设置 </h2>
        <h3> 1. 颜色 </h3>

        <div class="theme-tray">
            <section class="pl-color">
                <h4> 纯色 </h4>
                <span title="Love Red" class="red"> </span>
                <span title="Clover Green" class="green"> </span>
                <span title="Dodger Blue" class="blue"> </span>
                <span title="White Sir" class="white-sir"> </span>
                <span title="Bright Neon Pink" class="bnp"> </span>
                <span title="Pumpkin Orange" class="orange"> </span>
                <span title="Black" class="black"> </span>
                <span title="Neon Pink" class="pink"> </span>
                <span title="Golden Brown" class="gol-b"> </span>
                <span title="Greenish Blue" class="greenish"> </span>
                <span title="Wood" class="wood"> </span>
                <span title="Default" class="default"> </span>
            </section>

            <section class="gr-color">
                <h4> 渐变色 </h4>
                <span title="Flickr" class="flickr"> </span>
                <span title="Facebook Messenger" class="fb-messenger"> </span>
                <span title="Moonlit Asteroid" class="moonlit"> </span>
                <span title="Park Life" class="park-life"> </span>
                <span title="Dance to Forget" class="d2f"> </span>
                <span title="Man of the Steel" class="steel-man"> </span>
                <span title="Amethyst" class="amethyst"> </span>
                <span title="Between the Clouds" class="between-clouds"> </span>
                <span title="Crazy Orange" class="crazy-orange"> </span>
                <span title="Endless River" class="endless-river"> </span>
            </section>
        </div>
        <!--//theme-tray-->

        <h3>2. 菜单条位置 </h3>
        <p> 设置顶部菜单条位置:</p>
        <ol>
            <li><input type="radio" id="set-top" name="radio" checked/> 跟随显示顶部 </li>
            <li><input type="radio" name="radio" id="set-st"/> 静态 </li>
        </ol>

        <h3>3. 菜单展开方向 </h3>
        <p> 选择菜单展开方向 </p>
        <select class="menu-position">
            <option> 左边展开 </option>
            <option> 右边展开 </option>
        </select>
    </article>

</main>

</body>
</html>