/** 文字模糊效果 */
.fuzzy-text {
    color: transparent;
    text-shadow: #111 0 0 5px;
}

/** 毛玻璃效果*/
.frosted-glass-effect {
    display: block;
    width: 300px;
    height: 300px;
    margin: 100px auto;
    filter: blur(10px);
}

/*CSS Border with Box-Shadow Example 多重边框*/
div {
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 0 12px rgba(0, 0, 0, 0.2), 0 0 0 18px rgba(0, 0, 0, 0.2), 0 0 0 24px rgba(0, 0, 0, 0.2);
    height: 200px;
    margin: 50px auto;
    width: 400px
}